body {
	background: #74AFAD;
}

textarea {
	width: 100%;
	margin-left: 15px;
}

input {
	width: 120px; 
	float: right; 
	margin-top: 12px;
}

.btn {
	margin-bottom: 5px; 
	margin-left: 15px;
}